@mixin define-variables {
  --spacing-x1: 0.8rem;
  --spacing-x2: 1.6rem;
  --spacing-x3: 2.4rem;
  --spacing-x4: 3.2rem;
  --spacing-x5: 4.8rem;
  --spacing-x6: 6.4rem;
  --spacing-x7: 7.2rem;
  --spacing-x8: 8rem;
  --spacing-x9: 8.8rem;
  --spacing-x10: 9.6rem;
}
