@mixin define-variables {
    --size-avatar: 20rem;
    --size-border-avatar: var(--spacing-x1);
    --color-border-avatar-gradient-from: var(--color-brand-primary);
    --color-border-avatar-gradient-to: var(--color-brand-secondary);
}
