@use './button-theme.scss';
@use './toggle-theme.scss';

@mixin define-variables {
    --color-brand-primary: #4fa0ff;
    --color-brand-secondary: #ff63dd;

    --color-pure-black: #000000;
    --color-black: #0e0e0e;
    --color-dark-grey: #232326;
    --color-grey: #424345;
    --color-light-grey: #bebec3;
    --color-white: #ffffff;

    --spacing-x1: 0.8rem;
    --spacing-x2: 1.6rem;
    --spacing-x3: 2.4rem;
    --spacing-x4: 3.2rem;
    --spacing-x5: 4.8rem;
    --spacing-x6: 6.4rem;
    --spacing-x7: 7.2rem;
    --spacing-x8: 8rem;
    --spacing-x9: 8.8rem;
    --spacing-x10: 9.6rem;

    --radius-x1: 0.2rem;
    --radius-x2: 0.4rem;

    @include button-theme.define-variables;
    @include toggle-theme.define-variables;
}
