@use 'sass:map';
@use './variables';

@mixin _getMinBreakpoint($breakpoint: 'S') {
    @media (min-width: map.get(variables.$breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin tablet() {
    @include _getMinBreakpoint('M') {
        @content;
    }
}

@mixin desktop() {
    @include _getMinBreakpoint('L') {
        @content;
    }
}

@mixin desktopHD() {
    @include _getMinBreakpoint('XL') {
        @content;
    }
}

@function zIndex($level) {
    @return map.get(variables.$zIndexLevels, $level);
}

@mixin screen-reader-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: circle(0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
}

@mixin focusable() {
    outline: none;
    box-shadow: 0 0 0 0.2rem #ffffff, 0 0 0 0.4rem #000000;
}

@mixin highlighted {
    color: var(--theme-color-secondary);
    @supports (-webkit-background-clip: text) {
        background: linear-gradient(
            to right,
            var(--theme-color-primary),
            var(--theme-color-secondary)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
