$breakpoints: (
    S: 360px,
    M: 764px,
    L: 1024px,
    XL: 1440px,
);

$zIndexLevels: (
    modal: 9000,
    overlay: 8000,
    dropdown: 7000,
    header: 6000,
);

$spacing-x1: 0.8rem;
$spacing-x2: 1.6rem;
$spacing-x3: 2.4rem;
$spacing-x4: 3.2rem;
$spacing-x5: 4.8rem;
$spacing-x6: 6.4rem;
$spacing-x7: 7.2rem;
$spacing-x8: 8rem;
$spacing-x9: 8.8rem;
$spacing-x10: 9.6rem;

$radius-x1: 0.2rem;
$radius-x2: 0.4rem;
$radius-x12: 2.4rem;
$radius-circle: 50%;

$opacity-50: 0.5;

$color-light-blue: #4fa0ff;
$color-pink: #ff63dd;
$color-black: #000000;
$color-dark-black: #0e0e0e;
$color-dark-grey: #232326;
$color-grey: #bebec3;
$color-medium-grey: #424345;
$color-white: #ffffff;
$color-intense-blue: #75b6ff;
$color-intense-pink: #ff94e8;
$color-light-green: #d7ffe0;
$color-dark-green: #015b0a;
