:host {
    display: inline-block;
    border-radius: $radius-x2;

    .ps-button {
        display: inline-flex;
        border: $border-thickness solid $color-ghost;
        padding: $spacing-x1 $spacing-x2;
        cursor: pointer;
        color: $color-black-deep;
        text-decoration: none;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        align-items: center;
        border-radius: $radius-x2;
    }
}

:host(.primary) {
    .ps-button {
        background-color: var(--theme-color-primary);
        border-color: var(--theme-color-primary);
    }
    &:hover {
        .ps-button {
            background-color: var(--theme-color-primary-hover);
        }
    }
    &.disabled {
        .ps-button {
            background-color: var(--theme-color-primary);
        }
    }
}

:host(.secondary) {
    .ps-button {
        background-color: var(--theme-color-secondary);
        border-color: var(--theme-color-secondary);
    }
    &:hover {
        .ps-button {
            background-color: var(--theme-color-secondary-hover);
        }
    }
    &.disabled {
        .ps-button {
            background-color: var(--theme-color-secondary);
        }
    }
}

:host(.tertiary) {
    .ps-button {
        color: var(--theme-color-primary);
        background-color: $color-ghost;
        border-color: var(--theme-color-primary);
    }
    &:hover {
        .ps-button {
            border-color: var(--theme-color-primary-hover);
        }
    }
    &.disabled {
        .ps-button {
            border-color: var(--theme-color-primary);
        }
    }
}

:host(.disabled) {
    opacity: $opacity-50;
    .ps-button {
        cursor: default;
    }
}
