@font-face {
    font-family: DSRegular;
    src: url('./assets/fonts/typography/MontserratAlternates-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: DSBold;
    src: url('./assets/fonts/typography/MontserratAlternates-Bold.ttf')
        format('truetype');
}
@font-face {
    font-family: DSLight;
    src: url('./assets/fonts/typography/MontserratAlternates-Light.ttf')
        format('truetype');
}
