:host {
    display: block;

    .ps-header {
        position: relative;
        .header-content {
            display: flex;
            .header-logo {
                width: var(--size-width-header-logo, $spacing-x10);
                height: var(--size-height-header-logo, $spacing-x6);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .menu-button {
                margin: 0 0 0 auto;
            }
        }
        .ps-header-main-navigation {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: zIndex(header);
            padding: $spacing-x2;
            flex-direction: column;
            gap: $spacing-x2;
            align-items: center;
            background-color: var(--theme-color-background-body);
            outline: 0.2rem solid var(--theme-color-primary);
            border-radius: $radius-x2;
            margin: $spacing-x1 0 0 0;
            .navigation-list,
            .navigation-icon-list {
                display: flex;
                flex-direction: column;
                gap: $spacing-x2;
                @include desktop {
                    flex-direction: row;
                }
            }
            .navigation-icon-list {
                flex-direction: row;
            }
            @include desktop {
                display: flex;
                position: relative;
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                background-color: transparent;
                outline: none;
                margin: 0;
            }
        }
    }
}

:host(.expanded) {
    .ps-header {
        .ps-header-main-navigation {
            display: flex;
        }
    }
}
