@use '../../abstracts/variables';

@mixin define-variables {
    --theme-color-background-accordion-header: #{variables.$color-black-deep};
    --theme-color-accordion-header: #{variables.$color-grey-lighter};
    --theme-color-background-accordion-header-active: #{variables.$color-black-medium};
    --theme-color-accordion-header-active: #{variables.$color-white};
}
