@use 'sass:map';
@use '../../abstracts/variables';

@use './accordion-theme.scss';
@use './card-theme.scss';

@mixin define-variables {
    --theme-color-primary: #{variables.$color-blue-light};
    --theme-color-primary-hover: #{variables.$color-blue-intense};
    --theme-color-secondary: #{variables.$color-pink};
    --theme-color-secondary-hover: #{variables.$color-pink-intense};

    --theme-color-background-body: #{variables.$color-black-deep};
    --theme-color-text-body: #{variables.$color-grey-lighter};

    --theme-color-heading: #{variables.$color-grey-medium};

    @include accordion-theme.define-variables;
    @include card-theme.define-variables;
}
