:host {
    display: inline;
    .ps-link {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        text-decoration: none;
        padding: 0 0 calc(var(--spacing-x1) / 2) 0;
        border-bottom: 0.2rem solid;
        &:focus {
            outline: 0.2rem solid var(--color-brand-primary);
            outline-offset: 0.2rem;
        }
    }
}
