:host {
    display: inline-flex;

    font-size: inherit;
    line-height: inherit;
    font-family: inherit;

    border: $border-thickness solid $color-green-dark;
    padding-inline: $spacing-x2;
    border-radius: $radius-x12;
    background-color: $color-green-light;
    color: $color-green-dark;
}
