@import '~@personal-site/ui-kit/dist/ui-kit/scss/abstracts/mixins.scss';
@import '~@personal-site/ui-kit/dist/ui-kit/scss/abstracts/variables.scss';

.main-header {
    margin: $spacing-x2 0;
    @include tablet() {
        margin: $spacing-x3 0;
    }
    @include desktop() {
        margin: $spacing-x4 0;
    }
}
.router-link {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    text-decoration: none;
    padding: 0 0 calc($spacing-x1 / 2) 0;
    border-bottom: 0.2rem solid;
}
