@import '~@personal-site/ui-kit/dist/ui-kit/scss/abstracts/mixins.scss';

.main-header {
    margin: var(--spacing-x2) 0;
    @include tablet() {
        margin: var(--spacing-x3) 0;
    }
    @include desktop() {
        margin: var(--spacing-x4) 0;
    }
}
.router-link {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    text-decoration: none;
    padding: 0 0 calc(var(--spacing-x1) / 2) 0;
    border-bottom: 0.2rem solid;
}
