:host {
    display: block;

    .card-container {
        border-radius: $radius-x12;
        box-shadow: 0.2rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
    }

    .card-image {
        width: 100%;
        height: var(--size-height-card-image-vertical, 20rem);
        border-radius: $radius-x12 $radius-x12 0 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    .card-content {
        padding: var(--spacing-padding-card-content, $spacing-x2);
        background-color: var(--theme-color-background-card-content);
        border-radius: 0 0 $radius-x12 $radius-x12;
    }
}

:host(.horizontal) {
    .card-container {
        flex-direction: row;
    }
    .card-image {
        flex: 1 0 var(--size-width-card-image-horizontal, 15rem);
        height: auto;
        border-radius: $radius-x12 0 0 $radius-x12;
    }
    .card-content {
        width: 100%;
        border-radius: 0 $radius-x12 $radius-x12 0;
    }
}
