@use 'sass:map';
@use '../../abstracts/variables';

@use './card-theme.scss';

@mixin define-variables {
    --theme-color-primary: #{variables.$color-light-blue};
    --theme-color-primary-hover: #{variables.$color-intense-blue};
    --theme-color-secondary: #{variables.$color-pink};
    --theme-color-secondary-hover: #{variables.$color-intense-pink};

    --theme-color-background-body: #{variables.$color-white};
    --theme-color-text-body: #{variables.$color-dark-charcoal};

    --theme-color-heading: #{variables.$color-midnight-blue};

    @include card-theme.define-variables;
}
